
.project_container {
  margin-top: 10em;
  color: #ffff; 
  margin-left: 10%;
  margin-right: 10%;
}


.project_title {
  padding-top: 2em;
  margin-top: 3em; 
  font-size: 2em; 
  font-weight: 600; 
  letter-spacing: 0.2em; 
  text-transform: uppercase; 
}


.project_content {
  margin-top: 37px; 
  display: flex; 
  flex-direction: row; 
  flex-wrap: wrap; 
  align-items: center; 
  justify-content: center; 
  gap : 25px; 
  width: 100%;
}



@media screen and (min-width: 1200px) {
  .project_container {
    margin: 10em;
  }

  .project_title {
    font-size: 2em; 
    padding-top: 1em;
  }

  .project_content {
    width: 100%; 
    gap: 15px; 
  }
}


@media screen and (max-width: 1024px) {
  .project_container {
    margin-left: 5%;
    margin-right: 5%; 
    margin-top: 5em;
  }

  .project_title {
    font-size: 1.5em; 
    padding-top: 2em;
  }
}


@media screen and (max-width: 768px) {
  .project_container {
    margin-left: 3%;
    margin-right: 3%; 
    margin-top: 3em; 
  }

  .project_title {
    font-size: 1.2em;
    padding-top: 1em; 
  }

  .project_content {
    gap: 10px;
  }
}


@media screen and (max-width: 480px) {
  .project_container {
    margin: 2em 1%;
  }

  .project_title {
    font-size: 1em; 
    padding-top: 0.5em; 
  }
}
