
.card_container {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  border-radius: 10px;
  background: linear-gradient(180deg, #2a3c82 0%, #132a53 70%);
  box-shadow: 0 16px 14px 0 #04152d;
  padding: 18px 24px;
  max-width: 30%;
  height: 360px;
}

.card_img {
  width: 100%;
  border-radius: 10px;
}

.card_title {
  font-size: 1em;
  font-weight: 700;
  margin-top: 20px;
}

.card_description {
  margin-top: 8px;
  font-size: 0.7em;
  font-weight: 500;
}

.card_skills {
  margin-top: 10px;
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
  list-style: none;
}

.card_skill {
  font-size: 0.7em;
  font-weight: 600;
  border-radius: 100px;
  background: rgb(36, 12, 92);
  padding: 0.4em 1.2em;
  text-transform: uppercase;
}

.card_links {
  margin-top: 22px;
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.card_link {
  text-align: center;
  width: 100%;
  text-decoration: none;
  color: #fff;
  font-size: 0.8em;
  font-weight: 600;
  border-radius: 100px;
  background: rgb(17, 1, 54);
  padding: 0.5em 1.5em;
  transition: 0.3s ease-in-out;
}

.card_link:hover {
  letter-spacing: 2px;
  background-color: #576cbc;
}

/* Estilos para o container do projeto */
.project_container {
  margin-top: 10em;
  color: #fff;
  margin-left: 10%;
  margin-right: 10%;
}

.project_title {
  padding-top: 3em;
  font-size: 2em;
  font-weight: 600;
  letter-spacing: 0.2em;
  text-transform: uppercase;
}

.project_content {
  margin-top: 37px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 25px;
  width: 100%;
}

/* Media Queries para Responsividade */
@media screen and (min-width: 1300px) {
  .card_container {
    max-width: 40%;
    height: 450px;
  }

  .card_img {
    height: auto;
    font-size: 2em;
  }

  .card_title {
    font-size: 1.5em;
  }

  .card_skills {
    margin-top: 10px;
  }

  .project_container {
    margin: 10em;
  }

  .project_title {
    font-size: 2em;
    padding-top: 1em;
  }

  .project_content {
    width: 100%;
    gap: 15px;
  }
}

@media screen and (max-width: 968px) {
  .card_container,
  .project_container {
    max-width: 60%;
  }

  .card_img {
    height: auto;
    font-size: 2em;
  }

  .card_title,
  .project_title {
    font-size: 1.5em;
  }

  .card_skills,
  .project_content {
    margin-top: 10px;
  }
}

@media screen and (max-width: 768px) {
  .card_container,
  .project_container {
    max-width: 60%;
    font-size: 1em;
  }

  .card_img {
    height: auto;
  }

  .card_title,
  .card_description,
  .card_skill,
  .card_links,
  .project_title {
    font-size: 1em;
  }

  .card_links {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }

  .card_link {
    width: 70%;
  }

  .card_skills,
  .project_content {
    margin-top: 10px;
  }
}

@media screen and (max-width: 540px) {
  .card_container,
  .project_container {
    max-width: 80%;
    height: 80%;
    font-size: 0.8em;
  }

  .card_title,
  .card_description,
  .card_skill,
  .card_links,
  .project_title {
    font-size: 0.9em;
  }

  .card_skills,
  .project_content {
    margin-top: 10px;
  }

  .card_link {
    width: 80%;
  }
}
