.button {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btn {
    width: 8em;
    height: 3rem;
    font-size: 1.3rem;
    border-radius: 20px;
    background-color: #83e509;
    cursor: pointer;
    transition: 0.2s ease-in-out;
    font-family: "Prompt";
    font-weight: 500;
    border: none;
}

.btn:hover {
    background-color: #060417;
    color: #fff;
    border: 1px solid rgb(49, 49, 49);
    letter-spacing: 1px;
}