
@import url('https://fonts.googleapis.com/css2?family=Prompt:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');


.navbar_container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.1);
    font-family: "Prompt", sans-serif;
    font-weight: 500;
    font-size: 1.2em;
    position: sticky;
    top: 0;
    z-index: 30;
    backdrop-filter: blur(50px);
}

.logo {
    margin-left: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo h3 {
    font-weight: 400;
    padding: 10px;
}

.logo img {
    margin: 0.5em;
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.navbar_content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 1.5em;
    list-style: none;
    margin-right: 1em;
}


.menu {
    background-color: transparent;
    border: none;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 1.3em;
    transition: 0.3s ease-in-out;
}

.menu:hover {
    letter-spacing: 1px;
}

.menu::before {
    content: "";
    width: 2rem;
    height: 0.2rem;
    background: linear-gradient(89deg, #bdf17c 0%, #83e509 100%);
    border-radius: 0.5rem;
    position: absolute;
    bottom: 40px;
    opacity: 0;
    transform: translateX(-1.5rem);
    transition: all 0.3s ease;
}

.menu:hover::before {
    width: 3.3em;
    transform: translateX(0);
    opacity: 1;
    letter-spacing: 1px;
}


.menu_btn{
    width: 2.5rem;
    height: 2.5rem;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    border-radius: 0.4rem;
    color: #FFF;
   background: linear-gradient(90deg, #126e29ea -0.13%, #0b3116 99.87%);
   line-height: 0;
   cursor: pointer;
   transition: all 0.4 ease;
   display: none;
}
.menu_btn:hover{
  color: #fff;
  background: #000;
  border: 1px solid #126e29ea;
}

@media (max-width: 1300px) {
    .navbar_container {
        font-size: 0.9em;
    }
    .menu::before {
        bottom: 20px;
        
    }

    .btn {
        font-size: 1.2em;
    }

    .logo img {
        width: 60px;
        height: 60px;
    }
}

@media (max-width: 640px) {
    .menu_btn{
        display: block;
       margin-right: 1.4em;
       display: flex;
       align-items: center;
       justify-content: center;
        width: 15%;
        height: 15%;
        padding-block: 1rem;
        transition: all .5s ease;
    }
    .hamburguer{
        border-top: 0.125rem solid ;
        width: 1.25rem;
    }
    .hamburguer::before,
    .hamburguer::after{
        content: "";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: .3s ease;
    }

    .x::before,
    .x::after{
        content: "";
        display: block;
        width: 1.25rem;
        height: 0.125rem;
        background: currentColor;
        margin-top: 0.3125rem;
        position: relative;
        transition: .3s ease;
        transform: rotate(135deg);
    }

    .x::before{
        transform: rotate(135deg);
    }
    .x::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    
    .x, .hamburguer{
        font-size: 1.2em;
    }
    .menu::before{
        top: 25px;
    }
    .menu:hover {
       position: relative;
    }
    .navbar_content {
        display: none;
        position: absolute;
        top: 4.6875rem;
        text-align: center;
        left: 0;
        background-color: rgba(0, 0, 0, 0.842);
        backdrop-filter: blur(50px);
        width: 100%;
        height: calc(100vh - 4.6875rem);
        z-index: 10000;
    }
    .button{
        margin-top: 1em;
    }
    .navbar_content li{
        padding: 1.3em;
    }
    
}
