.aboutme_container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 1em;
    margin: 10em 0;
    width: 100%;
}

.aboutme_content {
    max-width: 800px;
    width: 100%;
}

.title_aboutme {
    font-size: 1.7em;
    border-bottom: 3px solid lightgreen;
    margin: 0.8em;
    padding: 0.2em;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
}

.description_aboutme {
    line-height: 1.5;
    border-radius: 10px;
    font-size: 1.3em;
    font-weight: 500;
    text-align: start;
}

.skills_container {
    width: 100%;
    max-width: 800px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title_skills {
    font-size: 1.7em;
    border-bottom: 3px solid lightgreen;
    margin: 0.5em;
    padding: 0.2em;
    font-weight: 600;
    text-align: center;
    text-transform: uppercase;
}

.skills_content {
    max-width: 600px;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 1em;
}

.skills_content li {
    list-style: none;
}

.skills_content img {
    padding: 10px;
    width: 100px;
    height: 100px;
    transition: 0.3s ease-in-out;
}

.skills_content img:hover {
    cursor: pointer;
    transform: scale(1.2);
    border-radius: 10px;
    background-color: rgba(253, 250, 247, 0.527);
}

/* Media Queries para Responsividade */

@media screen and (max-width: 1600px) {
    .aboutme_content {
        width: 90%;
    }
}

@media screen and (max-width: 768px) {
    .aboutme_container {
        margin: 1em 0;
        flex-direction: column;
        gap: 50px;
    }

    .title_skills,
    .title_aboutme {
    
        margin-top: 3em;
        font-size: 1.2em;
    }

    .aboutme_content {
        margin-top: 0;
        width: 90%;
    }

    .description_aboutme {
        font-size: 0.8em;
    }

    .skills_container {
        width: 90%;
    }

    .skills_content img {
        width: 60px;
        height: 60px;
    }
}
